<div class="container">
	<div class="row">
		<div class="col-md-12" style="">
			<h2>Frequently Asked Questions</h2>
			<dl>
			  	<dt>Where is Ramekins/Sonoma?</dt>
			  	<dd>Sonoma is about 45 miles north of San Francisco, California.  Ramekins is a culinary school located in downtown Sonoma.</dd>

			  	<dt>I don't live in California.  Which airport should I fly into?</dt>
			  	<dd>
			  		<p>The two closest major airports to Ramekins/Sonoma are San Francisco International (SFO) and Oakland International (OAK), both of which are about 60 miles away.  A few things to consider as you arrange your flights:
			  		</p>
			  		<ul style="list-style:square; margin-left:20px;">
			  			<li>SFO is a larger airport, so may have more/cheaper flights.</li>
			  			<li>While equidistant away from a mileage standpoint, Google estimates it takes 10 less minutes time to get to Ramekins from Oakland International than San Francisco International</li>
		  			</ul>
			  	</dd>

			  	<dt>What is there to do in Sonoma?</dt>
			  	<dd>Sonoma is actually home to some of California's finent wine producers.  Sonoma is just west of California's most famous wine producing region, Napa.  If you've never been to California wine country, we highly recommend that you take some time to visit some of the wineries in the area, not just for the wine, but also the views.  Let us know if you need any recommendations!</dd>

			  	

			</dl>



		</div>
	</div>
</div>



