<div class="container">
	<div class="row">
		<div class="col-md-12" style="">
			<h2>Frequently Asked Questions</h2>
			<dl>
			  	<dt>Where is Ramekins/Sonoma?</dt>
			  	<dd>Sonoma is about 45 miles north of San Francisco, California.  Ramekins is a culinary school located in downtown Sonoma.</dd>

			  	<dt>I don't live in California.  Which airport should I fly into?</dt>
			  	<dd>
			  		<p>The two closest major airports to Ramekins/Sonoma are San Francisco International (SFO) and Oakland International (OAK), both of which are about 60 miles away.  A few things to consider as you arrange your flights:
			  		</p>
			  		<ul style="list-style:square; margin-left:20px;">
			  			<li>SFO is a larger airport, so may have more/cheaper flights.</li>
			  			<li>While equidistant away from a mileage standpoint, Google estimates it takes 10 less minutes time to get to Ramekins from Oakland International than San Francisco International</li>
		  			</ul>
			  	</dd>

			  	<dt>What is there to do near/around Sonoma?</dt>
			  	<dd>Sonoma is actually home to some of California's finent wine producers.  Sonoma is just west of California's most famous wine producing region, Napa.  If you've never been to California wine country, we highly recommend that you take some time to visit some of the wineries in the area, not just for the wine, but also the views.  Here are a few activities you could try:<br />
			  		<ul style="margin-left:20px; margin-top:20px;">
			  			<li><strong>Hog Island Oyster Farm</strong> - A great spot for a picnic.  You can buy delicious fresh oysters and enjoy them at picnic tables right on the bay.(1 hour away)</li>	  			
			  			<li><strong>Wine Tasting at Rombauer Vineyards</strong> - One of Dennis' favorite vineyards for Zinfandel wine (1 hour away)</li>
			  			<li><strong>Wine Tasting at Peju Province Winery</strong> - One of Katie's favorite vineyards for white wine.  The "Carnival" release is very popular. (40 minutes away)</li>
			  			<li><strong>Oxbow Public Market</strong> - Awesome indoor market in downtown Napa with great shops and restaurants. (30 minutes away)</li>		  			
			  		</ul>

			  	</dd>
			  	<dt>Where are the good places to eat near/around Sonoma?</dt>
			  	<dd>There's lot of great food options in the Napa/Sonoma area.  Here are a few that we enjoy:<br />
			  		<ul style="margin-left:20px; margin-top:20px;">
			  			<li><strong><a href="http://www.thomaskeller.com/ad-hoc">Ad Hoc</a></strong></li>
			  			<li><strong><a href="http://www.thomaskeller.com/yountville-california/bouchon-bistro">Bouchon</a></strong></li>
			  			<li><strong><a href="http://www.longmeadowranch.com/">Farmstead at Long Meadow Ranch</a></strong></li>
			  			
			  		</ul>
			  	</dd>

			  	

			</dl>



		</div>
	</div>
</div>



