<div class="super-container full-width" id="main-content">
	<div class="container">	
		<div class="one columns" style="">
			<h3>Getting to the Wedding</h4>

			<h3>Where to Stay</h3>
		</div>
		

	</div>			
	
</div>