<div class="super-container full-width" id="main-content">
	<div class="container">	
		<div class="one columns" style="">
			<h1>Where to Stay</h1>		

			<p>We've thought through a few options for where our guests can stay, depending on how long they plan on staying in the area.</p>
			<p>
				If you are planning on staying at a hotel for our wedding weekend, we highly recommend that you book as soon as possible.  Below are some of the options that we have researched, along with some personal notes:
			</p>

			<h3>I&apos;m partying hard on Friday night, and leaving Saturday morning...</h3>
			<div class="well">
				<dl class="">					
				  	<dt>El Pueblo Inn</dt>
				  	<dd>$219 for Friday night.  <b>11 minute walk</b> from Ramekins to the hotel, 3 minute drive.</dd>

				  	<dt>Best Western Sonoma Valley Inn</dt>
				  	<dd>$320 for Friday night.  <b>10 minute walk</b> from Ramekins to the hotel, 2 minute drive.</dd>

				  	<dt>Ramekins</dt>
				  	<dd>$300 for Friday night.  <b>0 minute walk</b> from Ramekins (it's on site).  We reserved a very limited number of rooms.  If you're interested please <a href="mailto://dennis.hj.li@gmail.com">email</a> us ASAP.</dd>
				  	
			  	</dl>
			</div>

			<h3>I&apos;m taking an extra day to explore wine country...</h3>
			<div class="well">
				<dl>
					<dt>Fairfield Inn &amp; Suites - American Canyon</dt>
				  	<dd>$139 for Friday night.  <b>30 minute drive</b> from Ramekins to the hotel.  This hotel is actually closer to Napa, which is convenient if you're thinking about exploring wine country on Saturday.  This hotel also housed many of Dennis' sister's guests during their wedding in March 2014.</dd>			
				  	<dt>Vacation Rentals</dt>
				  	<dd>
						<p>Sonoma actually has a lot of vacation rental options.  If you&apos;re thinking about making this a weekend in wine country with some of your friends, we highly recommend that you explore the following websites, as we found that the accomodations are quite nice, and with enough people in you&apos;re party it can be more economical than a hotel.  <b>The one big catch is that most of the vacation rentals require a 2-night minimum</b>. We are actually using this option for the weekend:</p>
						<ul style="margin-left:20px;">
							<li><a href="http://www.homeaway.com">Home Away</a></li>
							<li><a href="http://www.vacationrentals.com/">VacationRentals.com</a></li>
							<li><a href="http://www.vrbo.com">Vacation Rentals by Owner (VRBO)</a></li>
							<li><a href="http://www.airbnb.com">airbnb</a></li>

							
						</ul>	
					</dd>		  	

				</dl>
			</div>
					
			
		</div>
		

	</div>			
	
</div>