<div class="super-container full-width" id="main-content">
	<div class="container">	
		<div class="row">
			<div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			    	<img src="/assets/ramekins.jpg" alt="...">
			    </a>
		  	</div>
			  
		</div>
		

	</div>			
	
</div>