<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-2" style="text-align:center">
			<h3>Western Registries</h3>
		
			<div id="west" class="well" style="height:300px">
				<div style="margin-bottom:15px"><a href="http://www.crateandbarrel.com/Gift-Registry/dennis-li-and-katie-wang/r5300875"><img src="<%= image_url('crate_and_barrel.jpeg')%>" style="width:250px;"></a></div>
				<div><a href="http://www.amazon.com/registry/wedding/BKQ00BEZ8X28"><img src="<%= image_url('amazon.jpeg')%>" style="width:250px; border:3px solid #A8A8A8"></a></div>
			</div>
		
		</div>
		<div class="col-md-4" style="text-align:center">
			<h3>Eastern Registries</h3>			
			<div id="east" class="well" style="height:300px">
				<a href="http://en.wikipedia.org/wiki/Red_envelope"><img src="<%= image_url('chinese-hong-bao.gif')%>" style="width:250px;"></a>
			</div>
				
			
		</div>				
	</div>
	<div class="collapse" id="collapseExample">
				Test Test Test
	</div>
</div>




<script type="text/javascript">
	function replaceContents(id){
		console.log(id);
		if (id == 'east')
			$('#'+id).html('');
		else
			$('#'+id).html('');
	}

</script>



