<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!--<img src="assets/ramekins.jpg">-->
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" style="text-align:right;">
			
			
			<div>
				<a href="https://www.google.com/maps/place/Ramekins+Culinary+School,+Events+%26+Inn/@38.0898488,-122.7366183,10z/data=!4m2!3m1!1s0x8085ac18e074a8fd:0x39682f32d81a7705">	<img src="<%= image_url('ramekins_map2.png') %>" style=
				"">
				</a>
				
			</div>

			
			</div>
			<div class="col-md-6">
				<a href="https://www.ramekins.com"><img src="<%= image_url('ramekins_logo.gif')%>"></a>
				<address>
					  <!--<strong>Ramekins Culinary </strong><br>-->
					  450 West Spain Street<br>
					  Sonoma, CA 95476<br>
					  <abbr title="Phone">P:</abbr> (707) 933-0450
				</address>

				<p>
					Friday, May 1, 2015
				</p>
				<p>
					Doors open at: 4:30pm
				</p>
				<p>
					Ceremony starts at: 5:00pm
				</p>
					
				Reception starts at: 6:30pm
			</div>

	</div>
</div>

