<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!--<img src="assets/ramekins.jpg">-->
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-3" style="text-align:center;">
			<a href="https://www.ramekins.com"><img src="<%= image_url('ramekins_logo.gif')%>"></a>
			<address>
				  <!--<strong>Ramekins Culinary </strong><br>-->
				  450 West Spain Street<br>
				  Sonoma, CA 95476<br>
				  <abbr title="Phone">P:</abbr> (707) 933-0450
			</address>

			<p>
				Friday, May 1, 2015
			</p>
			<p>
				Doors open at: 4:30pm
			</p>
			<p>
				Ceremony starts at: 5:00pm
			</p>
				
			Reception starts at: 6:30pm
		</div>
		<div class="col-md-6" >
			
			
			<div>
				<a href="https://www.google.com/maps/place/Ramekins+Culinary+School,+Events+%26+Inn/@38.0898488,-122.7366183,10z/data=!4m2!3m1!1s0x8085ac18e074a8fd:0x39682f32d81a7705">	<img src="<%= image_url('ramekins_map2.png') %>" style=
				"">
				</a>
				
			</div>

			
		</div>
		<div class="row">			
			<div class="col-md-7 col-md-offset-3" style="text-align:center; margin-top:30px;">			
				<h3>Saturday Brunch</h3>
				<div style="text-align:ce ter;">
					<p>We are planning on hosting a brunch the following day.  Please let us know if you'll be able to join.</p>
				</div>
				<div style-"text-align:left">
					<address>					  
					  19835 8th Street East<br>
					  Sonoma, CA 95476<br>				  
					</address>
				</div>
				
			</div>
		</div>
		

	</div>
</div>

