<div class="container">	
	<div class="row">
		<div class="col-md-4">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object img-circle bridal-party-image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="David Li">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Best Man</h4>
					<p><b>David Li</b></p>
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('michael4.png')%>" alt="Michael Lin">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Groomsman</h4>
					<p><b>Michael Lin</b></p>
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('willson3.png')%>" alt="Willson Mock">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Groomsman</h4>
					<p><b>Willson Mock</b></p>
				</div>
			</div>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('ed5.png')%>" alt="Edwin Sam">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Groomsman</h4>
					<p><b>Edwin Sam</b></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			<div class="media">
				<a class="pull-right" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('jenn.jpg')%>" alt="Jennifer Lien">
				</a>
				<div class="media-body pull-right">
					<h4 class="media-heading">Matron of Honor</h4>
					<p class="pull-right"><b>Jennifer Lien</b></p>
				</div>				
			</div>
			<div class="media">
				<a class="pull-right" href="#">
					<img class="media-object img-circle bridal-party-image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="Emily Chen">
				</a>
				<div class="media-body pull-right">
					<h4 class="media-heading">Bridesmaid</h4>
					<p class="pull-right"><b></b></p>
				</div>				
			</div>
			<div class="media">
				<a class="pull-right" href="#">
					<img class="media-object img-circle bridal-party-image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="Willson Mock">
				</a>
				<div class="media-body pull-right">
					<h4 class="media-heading">Bridesmaid</h4>
					<p class="pull-right"><b></b></p>
				</div>				
			</div>
			<div class="media">
				<a class="pull-right" href="#">
					<img class="media-object img-circle bridal-party-image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="Willson Mock">
				</a>
				<div class="media-body pull-right">
					<h4 class="media-heading">Bridesmaid</h4>
					<p class="pull-right"><b></b></p>
				</div>				
			</div>
			
		</div>
	</div>
</div>			

