/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */


 li {
display: list-item;
text-align: -webkit-match-parent;
}

.sf-menu > li > a strong {
color: #596269;
font-size: 13px;
font-style: normal;
font-weight: bold;
text-transform: inherit;
}

a:visited {
color: #7fa397;
text-decoration: none;
}

a{
	text-decoration: none;
}

.sf-menu > li:hover{background: #FFFFFF;}

.header-row{
	margin-bottom: 0px;
}

.footer-item h4{
	float:left;
}

.footer-item .icon{	
	float: left;
	margin: 0 10px 2px 0;	
}

.footer-item p{
	clear: both;
	margin: 8px 0 0 0;
	text-align: left;
	padding: 0px;
}

.bridal-party-image{
	height:96px;
	width:96px;
}

.main-content{
	min-height: 500px;
}

dd{
	margin-bottom: 15px;
}

ul.adronments{
	list-style-type: square;
}